<header>
  <app-menu />
</header>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <!--<img src="./assets/images/beer_app_logo.png" alt="Beer App Logo" /> fix required-->
      <h1 class="jumbotron-heading">Welcome to Beer App</h1>
      <marquee class="lead text-muted"
        >Useful app to rate beer!🍺🍻🍺🍻</marquee
      >
      <p>
        <a class="btn btn-warning" routerLink="/beers">Show Beer</a>
        <a class="btn btn-info" routerLink="/beers/add">Add Beer</a>
      </p>
    </div>
  </section>

  <router-outlet />
</main>
